:root{
    /* Backgrounds */
    --color-background-header: var(--color-accent);
    --color-background-page: rgb(238 237 231);

    /* Accents */
    --color-accent: rgb(42 143 42);
    --color-accent-inverted: rgb(255 208 0);

    /* Links */
    --color-link: var(--color-accent);
    --color-link-inverted: var(--color-accent-inverted);

    /* Text */
    --color-text: rgb(51 51 51);
    --color-text-inverted: rgb(255 255 255);

    /* Gradient */
    /* light mode */
    --gradient-page:
    linear-gradient(
      90deg,
      #f8fafc 0%,
      #e2e8f0 100%
    );
    /* dark mode */
    --gradient-hero:
    linear-gradient(
      135deg,
      #000428 0%,
      #001f54 50%,
      #004e92 100%
    );

    /* Fonts Stuff */
    --font-body: 'Open Sans', sans-serif;
    --font-display: 'Playfair Display', serif;

    --font-size-base: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2.5rem;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

   
}

/* Dark-Mode */
body.dark-mode {
  --color-background-page: #032;
  --color-background-card: #111;
  --color-text: #eee;
  --color-link: var(--color-accent-inverted);
}